@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    appearance: unset;
    border: none;
    outline: none;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


.hero {
    background: #D3D8DB;
    width: 100%;
    height: 100vh;
    display: flex;
}

#particles-js {
    overflow: hidden;
}

/* 

Hero bar secction

*/

.hero__bar {
    background: #D3D8DB;
    position: fixed;
    padding-top: 2rem;
    width: 3rem;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-right: 2px solid #a99feb;
}

.hero__bar span {
    margin: 0 auto;
    font-size: 1.5rem;
}

.scroll__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.scroll__btns .scroll__btn {
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid #6a5acd;
    border-radius: 50%;
}

.fill {
    background: #6a5acd;
}

/* 

SEARCH

*/

.search {
    top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    width: 30rem;
}

.profile__account img {
    position: absolute;
    top: 3rem;
    right: 20rem;
    width: 3rem;
    border-radius: 50%;
    padding: .2rem;
    background: #8c7dee;
}

/* 

USER

*/

.user {
    position: absolute;
    top: 3rem;
    right: 20rem;
    display: flex;
    gap: 1rem;
}

.user span {
    font-size: 2rem;
    color: #443a81;
    cursor: pointer;
}

.user .user__links {
    display: none;
    flex-direction: column;
    align-items: center;
    background: #6a5acd;


}
.user .user__links a{
    text-align: center;
    width: 100px;
    margin: 1rem auto; 
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

.user span:hover .user__links {
    display: flex;
    transition: all 300ms ease;
}


/* 

HERO CENTER SECTION

*/

.hero__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 5rem;
}

.hero__main-item {
    position: absolute;
    top: 2rem;
    display: flex;
    flex-direction: column;
}

.hero__main-item span {
    font-size: 2rem;
    font-weight: bold;
}

.hero__main-item small {
    font-size: 1rem;
}

.hero__main-content {
    position: absolute;
    bottom: 8rem;
}

.hero__main-content span {
    font-size: 2rem;
    font-weight: 500;
}

.hero__main-content h2 {
    font-size: 9rem;
    background: linear-gradient(to right, #6a5acd, #a99feb);
    -webkit-background-clip: text;
    color: transparent;
}

.hero__main-content p {
    width: 50%;
    font-size: 1.2rem;
}

.hero__main-content .btns {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    width: fit-content;
}

.hero__main-content .btns a {
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
    background: #6a5acd;
    padding: 0.5rem 2rem;
    border-radius: 6px;
}

.hero__main-content .btns a:last-child {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: #6a5acd;
    font-size: .8rem;
    background: transparent;
}

figure img{
    position: absolute;
    right: 10rem;
    top: 8rem;
    width: 700px;
    overflow: hidden;
}


/* 

Title

*/


.title{
    width: fit-content;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.title h1{
    font-size:3rem;
    color: #2d2752;
}


.title small{
    font-size: 1.5rem;
    color: #5e5b5b;
}



/* 

CART SECTION

*/

.cart {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2rem;
    right: 0;
}

.cart__item {
    border-radius: 12px 0 0 ;
    padding: 1rem 3rem;
    background: #414040;
    display: flex;
    align-items: center;
}

.cart__item span {
    color: #fff;
    font-size: 1rem;
}

.cart__item small {
    margin-left: 1rem;
    font-weight: bold;
    color: #fff;
}

.count {
    position: relative;
    right: .6rem;
    top: .5rem;
    color: #000;
    background: #fff;
    padding: .2rem;
    border-radius: 50%;
}

.review {
    background: #346943;
    border-radius: 0 0 0 12px; 
}

/* 

PRODUCTS

*/

.products{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.product img{
    width: 300px;
    background: #e2dfdf;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    transition: transform 400ms ease;
    cursor: pointer;
}

.product img:hover{
    transform: scale(1.1);
}
.product p{
    padding: .5rem;
    color: #5e5b5b;
}

.product small{
    display: flex;
    gap: 1rem;
    color: #2d2752;
    font-size: 1rem;
    font-weight: bold;
}

.product small span{
    text-decoration: line-through;
    color: #5e5b5b;
}


.categories{
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.categories>a{
    color: #000;
    padding: 8px 12px;
    background: #e2dfdf;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: transform 400ms ease;
}
.categories .active{
    color: #fff;
    background: #2d2752;
}

.categories>a:hover{
    transform: translateY(5%);
}
.categories>a:active{
    color: #fff;
    background: #2d2752;
}

.page__btns {
    margin: 4rem auto;
    width: fit-content;
    display: flex;
    gap: 5rem;
    font-weight: bold;
    color: #2d2752;
}

.page__btns a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product .btn {
  cursor: pointer;
  padding: 12px 40px;
  background: linear-gradient(90deg, #443a81, #a3a3eb);
  font-weight: bold;
  border-radius: 8px;
  color: #fff;
  margin-top: .5rem;
}

.btn:hover {
    transform: scale(0.9);
    transition: all 300ms ease;
}

.btn:active {
    background: #fff;
    color: #443a81;
}
.product .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.product .details span {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

/* 

FEATURED ITEM

*/
.featured {
    margin-top: 2rem;
    width: 94%;
}

.featured-item{
    margin: 4rem auto;
    background: #443a81;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    color: #fff;
}

.featured__left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.featured__left small{
    font-size: 1.5rem;
    
}

.featured__left h2{
    font-size: 5rem;
}

.featured__center img{
    width: 700px;
    margin-top: -8rem;
}

.featured__right{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.featured__right h3{
    font-size: 4rem;
}

.featured__right small{
    font-size: 1.2rem;
}

.featured__right p{
    font-size: small;
    color: #d4c1c1;
}

.featured__right a button{
    background: #fff;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 4rem;
    border-radius: 12px;
    color: #443a81;
    cursor: pointer;
}


/* 

CART

*/


.cart__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    top: 6rem;
    left: 10rem;
}

.cart__items small {
    font-size: 1.3rem;
}

.cart-item {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: #ffff;
    padding: 0.4rem 3rem;
    border-radius: .5rem;
}

.cart-item img {
    width: 100px;
}

.cart-item span {
    font-weight: bold;
    color:#5e5b5b;
}

.cart-item h2 {
    font-size: 1.2rem;
}

.cart-item small {
    font-size: 1.3rem;
}

.cart-item .item__details {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .2rem;
}

.cart-item .item__details small {
        font-size: 16px;
}

.cart-item .size {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.quantity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.quantity__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity__details h2 {
    color: #000;
}

.cost {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.payments {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.payment .payment__details {  
    background: #414040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1.4rem;
    color: #fff;
}


.payment__details small {
    font-size: 1.2rem;
    font-weight: bold;
}

.pay {
    border-top: 2px solid #6a5acd;
    background: #414040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1.4rem;
    color: #fff; 

}

.pay small {
    font-size: 1.2rem;
    font-weight: bold;
}


.pay__btn {
    margin-top: 2rem;
    background: #346943;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    color: #fff;
    cursor: pointer;
}

.product__link {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: 10rem;
    margin-bottom: 3rem;
    color: #5e5b5b;
}


/* 

PRODUCTS DETAILS SECTION STYLING

*/



.home{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-bottom: 4rem;
    position: absolute;
    top: 10rem;
    left: 10rem;
}

.home .home__left{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .home__left>img{
    width: 420px;
    background: #e2dfdf;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    transition: transform 500ms ease;
}

.home .home__left figure:hover >img{
    background: #f0eded;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.products__items{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products__items img{
    width: 20%;
    background: #e2dfdf;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    transition: transform 300ms ease;
    cursor: pointer;
}

.products__items img:hover{
    transform: scale(1.08);
}


.home .home__right{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.home .home__right h1 {
    color: #2d2752;
}

.home .home__right h2{
    font-size: 2.3rem;
    color: #2d2752;
}

.rating{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.rating img{
    fill: #9e3a3a;
    width: 1rem;
}

.home .home__right h3{
    font-size: 1.4rem;
}

.home .home__right p{
    width: 50%;
    color: #414040;
}

.home .home__right strong{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.home .home__right strong>span{
    display: flex;
    gap: 2rem;
    padding: .2rem 1rem;
}

.home__right strong>span span{
    font-size: 1.2rem;
    cursor: pointer;
}

.home__right strong>span span:nth-child(odd){
    color: #918e8e;
}

.home__right strong>span span:nth-child(even){
    cursor: default;
}

.home__right .buttons .btn{
    cursor: pointer;
    background: #fff;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 4rem;
    border-radius: 12px;
    color: #443a81;
}

/* 

THANK YOU SECTION

*/

.thanks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f0eded;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 6rem;
    border-radius: 1rem;
}

.thanks > span {
    font-size: 3rem;
    color: #346943;
    margin-bottom: 1rem;
}

.thanks h1 {
    color: #443a81;
    font-size: 2.5rem;
}

.thanks small {
    font-size: 1.2rem;
    margin-top: .4rem;
}

.thanks strong {
    margin-top: 1rem;
    color: #000;
    font-size: 1rem;
}

.thanks strong span {
    color: #9e3a3a;
}

.thanks a {
    margin-top: 2rem;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 4rem;
    border-radius: 12px;
    background: #443a81;
}

.thanks a:hover {
    transition: all 200ms ease-in-out;
    background: #fff;
    color: #443a81;
}

/* 

FORM QUERY STYLING

*/


.home__container {
    height: 100vh;
  }


.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    overflow: hidden;
   } 

  .form__style {
    display: flex;
  }

.form__login {
  padding: 1rem;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); ;
  transition: all 400ms ease-in-out;
}

.login {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;
}

.form__title {
  margin: 2rem;

}
.form__title h3 {
  font-size: 2rem;
  text-align: center;
}

.form__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
  margin: 1dvb;
}

.form__icon span {
  width: 2rem;
  height: 2rem;
  border: 1px solid #8c7dee;
  border-radius: 50%;


}

::placeholder {
  color: #5c5b5b;
}

.form a {
  font-size: 12px;
  font-weight: 200;
  color: #000;
  margin-bottom: 1rem;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}


input{
  background-color: #eee;
  border-radius: 6px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 90%;
 }


.form__login p {
  font-size: 16px;

}

.form__right {
  width: 50%;
  background: linear-gradient(90deg, #443a81, #a3a3eb);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
  color: #fff;
}


.form .button {
  cursor: pointer;
  padding: 12px 40px;
  background: linear-gradient(90deg, #443a81, #a3a3eb);
  font-weight: bold;
  border-radius: 8px;
  color: #fff;
  margin-top: 2rem;
}

.button__light {
  background: transparent;
  padding: 12px 40px;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.form__signup {
  position: relative;
  width: 100%;
  right: -100%;
  transition: all 400ms ease-in-out;
}

/* 

ELECTRONICS

*/

.featured__electronic img {
    margin: 0;
}
/* 

FLOWERS

*/

.flowers img{
    background: transparent;
    border-radius: 32px;
}

.flowers__featured {
    background-image: url(./assets/flowers/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
}


/* 

WOMEN FASHION

*/

.women__featured {
    width: 100%;
    background-image: url(./assets/women/banner-3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    padding: 4rem 2rem;
}

.women img {
    background: transparent !important;
}


/* 

FURNITURE SECTION

*/


